font-family: 'Roboto Slab', serif;

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}


#result {
  height:200px;
  width: 300px;
  margin: 20px;
}

.title {
  margin-left: 50px;
  float: left;
}

.image {
  float: left;
  margin-left: 50px;
}

body {

}

#banner {
  background-image: url("/images/banner.jpeg");
  background-repeat: none;
  height:300px;
  background-size: cover;
  padding-top: 30px;
  padding-left: 0px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #1E5FD4;
  text-shadow: 2px 2px #9DA4D2;
}

#logout {
  display: none;
}
